@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe Bold Italic.woff2") format("woff2"),
      url("../fonts/Louis George Cafe Bold Italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe Bold.woff2") format("woff2"),
      url("../fonts/Louis George Cafe Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe Italic.woff2") format("woff2"),
      url("../fonts/Louis George Cafe Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe Light Italic.woff2") format("woff2"),
      url("../fonts/Louis George Cafe Light Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe Light.woff2") format("woff2"),
      url("../fonts/Louis George Cafe Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Louis George Cafe";
    src:
      url("../fonts/Louis George Cafe.woff2") format("woff2"),
      url("../fonts/Louis George Cafe.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Starborn";
    src:
      url("../fonts/Starborn.woff2") format("woff2"),
      url("../fonts/Starborn.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }

  ::-moz-selection,
  ::selection {
    @apply bg-green text-yellow;
  }

  html,
  body {
    @apply full relative m-0 scroll-smooth bg-magenta p-0 font-["Louis_George_Cafe",_"Segoe_UI",_Tahoma,_Geneva,_Verdana,_sans-serif] [&::-webkit-scrollbar]:hidden;
  }

  body,
  .body {
    @apply text-xl leading-relaxed text-yellow sm:text-3xl sm:leading-relaxed lg:text-4xl lg:leading-relaxed;
  }

  #root {
    @apply relative h-full w-full;
  }

  h1,
  .h1 {
    @apply mb-10 mt-5 text-4xl font-bold sm:text-6xl lg:mb-20 lg:mt-10 lg:text-7xl;
  }

  h2,
  .h2 {
    @apply mb-10 mt-5 text-3xl font-bold leading-snug sm:text-5xl sm:leading-snug lg:mb-20 lg:mt-10 lg:text-6xl lg:leading-snug;
  }

  h3,
  .h3 {
    @apply my-10 text-2xl font-bold sm:text-4xl lg:my-20 lg:text-5xl;
  }

  h4,
  .h4 {
    @apply text-xl font-bold sm:text-3xl lg:text-4xl;
  }

  p a {
    @apply text-green underline;
  }

  input,
  select,
  textarea {
    @apply focus:outline-none;
  }
}

@layer components {
  .col {
    @apply col-span-2 flex flex-col gap-y-10 lg:col-span-1;
  }

  .form-el {
    @apply w-full rounded-none bg-red px-10 py-8 text-yellow ease-[ease] placeholder:text-yellow/50 placeholder:transition-opacity placeholder:duration-300 focus:placeholder:opacity-0;
  }

  .pagination-bullet {
    @apply h-3 w-3 cursor-pointer rounded-10 bg-red/80 transition-all duration-300 ease-ease [&.swiper-pagination-bullet-active]:h-7.5 [&.swiper-pagination-bullet-active]:bg-red;
  }

  .wrapper {
    @apply container mx-auto px-10;
  }

  .note {
    @apply text-base leading-relaxed sm:text-lg sm:leading-relaxed lg:text-xl lg:leading-loose;
  }
}

@layer utilities {
  .full {
    @apply h-full w-full;
  }

  .perspective-pan {
    @apply [perspective:_300px];
  }

  .section-offset {
    @apply pointer-events-none fixed left-0 z-40 h-5 w-full from-magenta/5 to-magenta;
  }

  .section-padding {
    @apply pointer-events-none fixed left-0 z-40 w-full bg-magenta;
  }

  .transform-egg {
    @apply [transform:_translate(-50%,_-20px)_rotate3d(75,_-2,_3,_78deg)];
  }
}
